body {
    margin: 0;
    padding: 0;
  }

main {
    margin: 0;
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  img {
    height: 200px;
  }

  nav {
    border-bottom: 1px solid black;
    padding: 16px;
  }
